.dots {
  margin-bottom: 70px;
  }
  
.dot {
  width: 150px;
  height: 150px;
  margin: 10px;
  background-color: #242426;
  border-radius: 50%;
  display: inline-block;
  }

.time {
  width: 825px;
  height: 150px;
  background-color: #242426;
  border-radius: 35px;
  display: inline-block;
  margin-bottom: 25px;
}

.time p {
  font-size: 24px;
  padding: 45px
}

.button {
  width: 825px;
  height: 825px;
  background-color: #242426;
  border-radius: 25px;
  display: inline-block;
}

img {
  width: 0;
}